@{
	ViewData["Title"] = "Ввод данных играков ";
}
<style type="text/css">
	button {
		margin-top: 10px;
	}

</style>
<div class="text-center">
	<h1 class="display-4">Ввод данных играков </h1>
	<form method="post" asp-area="" asp-controller="Home" asp-action="StartGame">
		<label>Введите Имя игрока 1</label><br>
		<input name="NamePlayerFirst" /><br>
		<label>Введите Имя игрока 2</label><br>
		<input name="NamePlayerSecond" /><br>
		<button>Начать игру</button>
	</form>
</div>